.dog-card {
  cursor: pointer;
  border-radius: 5px 5px 10px 10px;
  border: 2px solid #212121;
  max-width: 260px;

  &__image {
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: #212121;
    &_source {
      border-radius: 50%;
    }
  }
  &__footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &_order-button {
      cursor: pointer;
      background-color: transparent;
      padding: 4px 12px;
      font-size: 16px;
      border-color: transparent;
      border-radius: 10px;
      background-color: #42b883;
      color: #fff;

      &:active {
        transform: scale(0.98);
      }
    }
    &_button-disabled {
      pointer-events: none;
      background-color: transparent;
      font-size: 16px;
      border-color: transparent;
      border-radius: 10px;
    }
  }
}
